body
{
  color:#333;
  margin-left:20px;
  font-size:13px;
  font-family: helvetica, sans-serif;
  word-wrap:break-word;
  text-align:center;
}

#bar, #chart, #heatmap {
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 15px;
  max-width: 100%;
}

#bar canvas, #bar svg, #chart canvas, #chart svg, #heatmap canvas, #heatmap svg {
  position: relative;
  top: 0;
  left: 0;
}

#bar, #chart, #heatmap {
  position: relative;
}

#legend {
  padding-bottom: 1px;
  max-width: 100%;
}

#legend canvas, #legend svg {
  position: relative;
  top: 0;
  left: 0;
}

#legend {
  position: relative;
}


#content {
  width:1050px;
  margin-left:auto;
  margin-right:auto 
}

p { margin-top:2px;margin-bottom:12px }

#banner {
  background:white;
  color:black;
  border-bottom:1px dotted #aaa;
  margin-bottom:0.7em;
  width:980px;
  padding-bottom:9px;
  text-align:left;
}

#banner a { color:#aaa; }
#banner a.admin { color:#e00 }
#banner a.banner_username { color:blue; }

#top_left_menu {
  margin-top:2px;
  float:left;
}
#top_left_menu a { color:blue }

#top_right_menu {
  margin-top:2px;
  float:right;
}
#top_right_menu a { color:blue }

#main_column {
  width:700px;
  min-height:700px;
  text-align:left;
  float:left;
  position:relative;
  #border:1px solid #fa8;
}

#right_column {
  float:left;
  margin-left:10px;
  text-align:left;
  width:330px;
  height:1000px;
  #border:1px solid #cfd;
}

rect.bordered {
  stroke: #FFFFFF;
  stroke-width:2px;
}
